/ - if params[:name].blank?
.bigcontainer
  .spacer
  .container
    %h1 Am I Twitter Famous?
  .box
    = form_tag('/') do
      %h1 @
      %h1= text_field_tag :name, nil, :size => 12, :id => "fameinput"
      %h1= submit_tag(">", :id => "famebutton")
%div{ :class => 'footer hidden', :id => 'about'}
  = link_to "about", '#'

%div{ :class => 'bigcontainer hidden' }
  .spacer
  .about
    %h2 This is a quick personal project I did to see if I could deploy a rails app. 
    %h2 This app saves no data about its users. 
    %h2 If you have any comments, please send them to: 
    %h2= mail_to "admin@amitwitterfamous.com"
%div{ :class => 'footer hidden', :id => 'return'}
  = link_to "return", '#'
  
/ - else
/   .spacer
/   .container
/     %h1= @fame_level
/   .footer
/     = link_to "about", about_path
  