<!DOCTYPE html>
<html>
<head>
  <title>Am I Twitter Famous?</title>
  <meta name="description" content="Find out if you are famous on Twitter at Am I Twitter Famous">
  <meta name="keywords" content="twitter famous metric analytic">
  <%= stylesheet_link_tag "application.css" %>
  <%= javascript_include_tag "jquery.js" %>  
  <%= javascript_include_tag "application.js" %>  
  <%= csrf_meta_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7046448-2']);
    _gaq.push(['_setDomainName', '.amitwitterfamous.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <meta name="google-site-verification" content="jQ28Tmjccvxp52qV6MN1QRntjgnMkRmg7jFT8EGyF7Y" />
</head>
<body>

<%= yield %>

</body>
</html>
